<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Actix web</title>
</head>
<body>
    <h1>Your, Items</h1>
    <div><a href="https://classic.wowhead.com/item=5113" class="q0"></a></div>
    <div><a href="https://classic.wowhead.com/item=16204" class="q0"></a><span class="amt"> x20</span></div>
    <div><a href="https://classic.wowhead.com/item=16223" class="q0"></a></div>
    <div><a href="https://classic.wowhead.com/item=16393" class="q0"></a></div>
    <div><a href="https://classic.wowhead.com/item=19019" class="q0"></a></div>
    <div><a href="https://classic.wowhead.com/item=14551" class="q0"></a></div>
</body>
</html>